Sample/src/Sample/node_modules/*
DotNetWebSdkGeneration/artifacts/*
DotNetWebSdkGeneration/packages/*
DotNetWebSdkGeneration/src/DotNetWebSdkGeneration/bin/*
DotNetWebSdkGeneration/**/*.js
Sample/src/Sample/Scripts/Generated/Api/Controller.js.map
Sample/src/**/*.js.map
