Sample/src/Sample/node_modules/*
DotNetWebSdkGeneration/artifacts/*
DotNetWebSdkGeneration/packages/*
DotNetWebSdkGeneration/src/DotNetWebSdkGeneration/bin/*
DotNetWebSdkGeneration/**/*.js
Sample/src/Sample/Scripts/Generated/Api/Controller.js.map
Sample/src/**/*.js.map
Sample/.vs/*
Sample/desktop.ini
**/*.js.map
Sample/src/Sample/Scripts/**/*.js
Sample/src/Sample/bin/Debug/dnx451/Sample.xml
